.row,.col-8{

    border:2px solid black;
    height: 420px;
}
.img-thumbnail{
position:relative;
display:inline-block;
}
.overlay-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
    text-align: center;
    z-index: 1;
}